* {
    margin: 0;
    padding: 0;
}

.header {
    overflow: hidden;
    min-height: 136px;
    width: 100%;
    background-color: #FCDB00;
    font-family: 'PT Sans', sans-serif;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

.logo {
    padding-left: 112px;
    padding-top: 56px;
    float: left;
}

.logo img {
    float: left;
    padding-top: 7px;
}

.logo h3 {
    font-size: 31px;
    float: right;
    padding-left: 14px;
    margin-top: 13px;
}

.nav {
    float: right;
    margin-top: 54px;
}

.nav ul {
    list-style: none;

}

.nav ul li {
    float: left;

}

.nav ul li a {
    display: block;
    font-size: 25px;
    color: black;
    text-decoration: none;
    padding: 0px 38px;
}
/*=============middle========= */

.content {
    overflow: hidden;
    width: 100%;
    min-height: 600px;
    background-color: #FCDB00;
}

.text {
    float: left;
    min-height: 400px;
    width: 45%;
    margin-top: 93px;
    margin-left: 105px;
}

.text h1 {
    text-decoration: none;
    font-size: 37px;
    font-family: 'PT Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;

}

.text h3 {
    font-size: 20px;
    margin-top: 25px;
    font-family: 'PT Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

.text p {
    margin-top: 41px;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

.icon {
    margin-top: 40px;
    margin-left: -31px;
}

.icon img {
    padding-left: 32px;
}

.phone {

    float: right;
    background-color: #FCDB00;
    min-height: 400px;
    width: 45%;
    margin-top: 93px;

}

.box_one {
    min-height: 456px;
    width: 66%;
    background-color: white;
    border-radius: 23px;
    position: relative;
    margin-left: 52px;
}

.box_two {
    min-height: 381px;
    width: 82%;
    background-color: black;
    position: absolute;
    left: 32px;
    top: 34px;


}

.box_three {
    margin-top: 156px;
    margin-left: 59px;
}

.middle {
    min-height: 776px;
    /*    width: 64px;*/
}


.wrapper {}

.title {
    text-align: center;
    padding: 40px 0px;
    font-family: 'PT Sans', sans-serif;

}

.pera {
    text-align: center;
    width: 63%;
    margin: 0 auto;
    font-size: 19px;
    color: gray;
    font-family: 'PT Sans', sans-serif;
    color: gray;

}

.middle_content {
    min-height: 300px;
    width: 950px;
    margin: 0 auto;
    margin-top: 94px;

}

.content_one {
    min-height: 182px;
    width: 316px;
    float: left;
    font-family: 'PT Sans', sans-serif;
}

.content_wrapper {
    min-height: 180px;
    width: 300px;
}

.img_box {
    float: left;
    width: 14%;
}

.img_box img {
    margin-left: 16px;
}

.content_box {
    float: right;
    width: 75%;

}
/*********************Footer************************/

.footer {
    min-height: 767px;
    width: 1400px;
    background-color:black;
}

.wrapper {}

.tag {
    text-align: center;
    padding: 40px 0px;
    color:#FCDB00;
    font-family: 'PT Sans', sans-serif;
}

.line {
    text-align: center;
    width: 63%;
    margin: 0 auto;
    font-size: 19px;
    color: gray;
    font-family: 'PT Sans', sans-serif;
}

.search {
    text-align: center;
    margin-top: 60px;
    border: none;

}

.place {
    min-height: 51px;
    width: 579;
    border-radius: 11px;
    font-size: 19px;
    border: none;

}

button {
    min-height: 51px;
    width: 150px;
    border-radius: 11px;
    background-color: #FCDB00;
    font-size: 19px;
    border: none;
}

.pic {
    margin-left: 455px;
    margin-top: 110px;
    
}
.pic img{
    margin-left: 16px;
}

.lower {
   min-height: 301px;
    margin-top: 150px;
}
.wrapper{
    
}

.adress{
    width: 30%;
    min-height: 200px;
    float: left;
    
    font-size: 21px;
    color: white;
    font-family: 'PT Sans', sans-serif;
}
.address p{
}

.lower_content{
    float: right;
    width: 65%;
    min-height: 200px;
    font-family: 'PT Sans', sans-serif;
    
}

.lower_content_one{
    float: left;
    width: 23%;
    min-height: 200px;
}

.lower_content_one ul{
    list-style: none;
    
}
.lower_content_one ul li{
    
    
}
.lower_content_one ul li a{
    display: block;
    font-size: 21px;
    color: black;
    text-decoration: none;
    color: white;
}


